/* .swiper-button-next {
  right: 0px !important;
  top: 80% !important;
  transform: translateY(-50%) !important;
}

.swiper-button-prev {
  left: -30px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
} */
